{% extends "base.html" %}
{% block body %}
        {% if registered %}
        Вы зарегистрированы, если хотите ещё раз зарегистрировать, пожалуйста <strong>выйдите из профиля и нажмите "Регистрация".</strong>
        <a href="/">Возращение на домашнюю страницу.</a><br />
        {% else %}
        Добро пожаловать в регистрацию

        <form id="user_form" method="post" action="/auth/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

{% endblock%}