body{
    
    background-image: url("fon.jpeg");
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
 width:424px;
  margin: 0 auto 30px;
}
.navigation ul {
  padding: 1em 0;
  padding: 1em 0;
    background: rgba(36, 134, 206, 0.54);;
}
.navigation a {
      padding: 1em;
    background: rgba(10, 125, 210, 0.54);
    border-right: 1.5px solid #04022b;
    color: #6b524d;

}
.navigation  a:hover {background: #b18e8f;}
.navigation  li{
  display: inline;
}

.content{
    background: azure;
    min-height: 500px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 90px;
    margin-right: 90px;
    border: solid 2px steelblue;
    -webkit-box-shadow: -3px 6px 23px -5px rgba(0,0,0,0.76);
-moz-box-shadow: -3px 6px 23px -5px rgba(0,0,0,0.76);
box-shadow: -3px 6px 23px -5px rgba(0,0,0,0.76);
}
 .tasks{
     background: aliceblue;
     min-height: 200px;
     padding-right: 30px;
     padding-left: 30px;
     margin-left: 20px;
     margin-right: 20px;
     border: solid 2px steelblue;
     -webkit-box-shadow: -3px 6px 23px -5px rgba(0,0,0,0.76);
     -moz-box-shadow: -3px 6px 23px -5px rgba(0,0,0,0.76);
     box-shadow: -3px 6px 23px -5px rgba(0,0,0,0.76);
 }
